body{
    width: 100%;
    max-width: 1000px;
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    margin: 0 auto;
    color: white;
    margin-left: 35vw;
    margin-top: 35vh;
}
.main h1{
    font-size: 50px;
    text-align: center;
}